<% layout("/layouts/boilerplate.ejs") %>

<div class="row">
  <div class="col-md-5 offset-2">
    <form
      method="post"
      action="/listings/<%= hotel._id %>?_method=PUT"
      class="needs-validation"
      enctype="multipart/form-data"
      novalidate
    >
      <div>
        <label for="title" class="form-label">Title:</label>
        <input
          type="text"
          name="listings[title]"
          class="form-control"
          value="<%= hotel.title %>"
          required
        />
        <div class="invalid-feedback">Please enter a Title.</div>
      </div>

      <div>
        <label for="description" class="form-label"> Description:</label>
        <textarea name="listings[description]" class="form-control" required>
<%= hotel.description %></textarea
        >
        <div class="invalid-feedback">Please add description.</div>
      </div>

      <div class="mb-3">
        <label class="form-label"> Replace Image </label>

        <input type="file" name="image" class="form-control" />
      </div>

      <div>
        <label for="price" class="form-label">price</label>
        <input
          type="number"
          name="listings[price]"
          value="<%= hotel.price %>"
          class="form-control"
          required
        />
        <div class="invalid-feedback">price is mandatory to enter</div>
      </div>

      <div>
        <label for="location" class="form-label">location</label>
        <input
          type="text"
          name="listings[location]"
          class="form-control"
          value="<%= hotel.location %>"
          required
        />

        <div class="invalid-feedback">Please choose a location.</div>
      </div>

      <div>
        <label for="country" class="form-label">country</label>
        <input
          type="text"
          name="listings[country]"
          value="<%= hotel.country %>"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please choose a country.</div>
      </div>
      <br />
      <br />
      <div>
        <button class="btn btn-primary" type="submit">Submit form</button>
      </div>
    </form>
  </div>
</div>
